@media all and (max-width: 1150px) {
    .header {
        .logo {
            margin-left: 15px;
        }
    
        .nav {
            margin-right: 15px;
        }
    }
}

@media all and (max-width: 1000px) {

    // wr-home
    
    .intro-slider {
        height: 430px;

        .slide-1,
        .slide-2,
        .slide-3 {
            position: relative;
        }

        .slide-1-container,
        .slide-2-container,
        .slide-3-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        p {
            margin-top: 0;
            font-size: 40px;
        }

        .slide-title {
            font-size: 20px;
        }
    }

    // wr-what-we-do
    .wr-what-we-do,
    .wr-our-best-work,
    .wr-clients-says,
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .section-title {
            margin-bottom: 50px;
        }
    }

    .block-what-we-do:nth-child(even),
    .block-what-we-do:nth-child(odd) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block-what-we-do {
        margin-bottom: 50px;
    }

    .what-we-do-content {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;

        .btn {
            margin: 0 auto;
        }
    }

    .block-title {
        
        &::after {
            left: 50%;
            transform: translate(-50%);
        }

        .title {
            white-space: pre-line;
            text-align: center;
            span {
                font-size: 40px;
            }
        }
    }
    
    // wr-our-best-work
    .wr-our-best-work {
        .grid-container {
            grid-template-rows: 300px 1fr 300px;
        }
    }
    
    // wr-best-team
    .wr-best-team {
        .wrapper {
            padding-bottom: 0;
            padding-top: 15px;
        }

        .section-title {
            margin-bottom: 20px;
        }
    }

    .slide-container,
    .slide-container-center {
        .name {
            font-size: 34px;
        }

        .team-member {
            width: 155px;
            height: 155px;
            img {
                clip-path: circle(76px at 80px 80px);
            }
        }
    }

    // wr-clients-says
    .clients-text-block, 
    .clients-text-block-off {
        margin-bottom: 10px;
    }

    .brand-name {
        font-size: 36px;
    }

    .brand-name,
    .brand-job {
        margin-right: 50px;
    }

    .description {
        font-size: 16px;
        margin-top: 0;
    }

    // wr-get-in-touch
    .block-contacts {
        padding-left: 15px;
    }

    .wr-get-in-touch-1 {

        .icon-check {
            width: 55px;
            height: 45px;
        }

        .message {
            font-size: 26px;
            margin-bottom: 40px;
        }
    }
    
}


@media all and (max-width: 780px) {
    body.lock {
        overflow: hidden;
    }

    // wr-home
    .wr-intro {
        padding-bottom: 40px;
    }

    .intro-slider {
        height: 400px;  
    }

    .intro-slider,
    .wr-what-we-do,
    .wr-our-best-work {
        .btn {
            width: 140px;
            height: 40px;
            font-size: 14px;
        }
    }

    .wr-home {
        padding-top: 80px;
    }

    .header {
        &::before {
            z-index: 4;
        }

        .wrapper {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .logo {
            z-index: 4;
            font-size: 26px;
        }
    }
    .burger-menu {
        @include burger-menu; 
    }

    .nav {
        @include mobile-navigation;
        top: -1040px;
        padding-top: 120px;
    }

    // wr-what-we-do
    .wr-what-we-do,
    .wr-best-team {
        .section-title {
            margin-bottom: 30px;
            font-size: 56px;
        }
    }

    .block-what-we-do:nth-child(even),
    .block-what-we-do:nth-child(odd) {
        margin-bottom: 50px;
    }

    // wr-our-best-work 
    .wr-our-best-work {
        .section-title {
        margin-bottom: 45px;
        font-size: 56px;
        }

        .grid-container {
            grid-template-rows: 230px 1fr 230px;
        }
    }

    // wr-best-team
    .wr-best-team {
        .section-title {
        margin-bottom: 15px;
        }
    }
    .slide-container,
    .slide-container-center {
        .name {
            font-size: 30px;
        }

        .team-member {
            width: 145px;
            height: 145px;
            img {
                clip-path: circle(70px at 75px 75px);
            }
        }
    }
    
    // .wr-clients-says
    .wr-clients-says,
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .section-title {
            margin-bottom: 45px;
            font-size: 56px;
        }
    }

    .brand {
        .brand-container {
            margin-bottom: 60px;
        }
    }

    .brand-name {
        font-size: 30px;
        &::after {   
        top: 45px;
        }
    }

    .brand-name,
    .brand-job {
        margin-right: 40px;
    }

    // wr-get-in-touch
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        padding-top: 20px;
        padding-bottom: 60px;
        .submit {
            width: 140px;
            height: 40px;
            font-size: 14px;
        }
    }

    .adress {
        p {
            font-size: 16px;
        }
    }

    .mail, 
    .phone {
        margin-bottom: 20px;
        a {
            font-size: 16px;
        }
    }

    .socials {
        li {
            width: 35px;
            height: 35px;
        }
    }

    .block-forms {
        .form-item-1 {
            margin-bottom: 20px;
        }

        .form-item-2 {
            margin-bottom: 50px;
        }

        .form-item-3 {
            margin-bottom: 30px;
        }
    }

    .wr-get-in-touch-1 {
        .icon-check {
            width: 40px;
            height: 30px;
        }

        .message {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }
    
}

@media all and (max-width: 650px) {
    // wr-home
    .intro-slider {
        height: 350px; 
        p {
            font-size: 30px;
        }

        .slide-title {
            font-size: 18px;
            margin-bottom: 40px;
        }
    }

    // wr-what-we-do
    .wr-what-we-do {
        P {
            font-size: 16px;
        }
    }
    .wr-what-we-do,
    .wr-our-best-work,
    .wr-clients-says,
    .wr-best-team,
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .section-title {
            font-size: 52px;
        }
    }

    // wr-best-team
    .best-team-slider {
        .swiper-button-prev::after, 
        .swiper-button-next::after {
            font-size: 40px;
        }
    } 
    .slide-container,
    .slide-container-center {
        .name {
            font-size: 24px;
        }

        .work {
            font-size: 16px;
            margin-bottom: 40px;
        }

        .team-member {
            width: 120px;
            height: 120px;
            img {
                clip-path: circle(58px at 61px 61px);
            }
        }
    }

    .slide-container-center {
       
        .work {
            margin-bottom: 15px;
        }
    }

    // wr-clients-says
    .wr-clients-says {
        padding-top: 30px;
        padding-bottom: 70px;
    } 

    .clients-says-slider {
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
        }
    }

    .brand-name {
        font-size: 26px;
    }

    .brand-name,
    .brand-job {
        margin-right: 10px;
    }

    .brand-job {
        font-size: 16px;
    }

    .description {
        font-size: 14px;
    }

    // wr-get-in-touch
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        padding-bottom: 40px;
    }

    .adress {
        p {
            font-size: 14px;
        }
    }

    .mail, 
    .phone {
        a {
            font-size: 14px;
        }
    }

    .socials {
        li {
            width: 30px;
            height: 30px;
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .block-forms {
        label {
            font-size: 16px;
        }
    }

    .wr-get-in-touch-1 {
        .icon-check {
            width: 30px;
            height: 20px;
        }

        .message {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
}

@media all and (max-width: 540px) {
    // wr-home
    .intro-slider {
        height: 300px; 
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
        }

        p {
            font-size: 26px;
        }

        .slide-title {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }

    // wr-what-we-do
    .wr-what-we-do,
    .wr-our-best-work,
    .wr-clients-says,
    .wr-best-team,
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .section-title {
            font-size: 46px;
        }
    }

    // wr-our-best-work
    .wr-our-best-work {
        .grid-container {
            grid-template-rows: 150px 1fr 150px;
        }
    }

    // wr-best-team
    .slide-container,
    .slide-container-center {
        .name {
            font-size: 18px;
        }

        .work {
            font-size: 14px;
        }

        .team-member {
            width: 80px;
            height: 80px;
            img {
                clip-path: circle(39px at 42px 42px);
            }
        }
    }

    .best-team-slider {
        .swiper-button-prev::after, 
        .swiper-button-next::after {
            font-size: 30px;
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
        }
        
    }

    // wr-clients-says
    .clients-text-block,
    .clients-text-block-off {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .clients-text {
        width: 100%;
    }

    .brand-description {
        align-items: center;
    }

    .brand-name {
        text-align: center;
        &::after {
            display: none;
        }
    }

    .description {
        margin-right: 13px;
    }

    // wr-get-in-touch
    .contact-container {
        flex-direction: column;
    }

    .block-contacts,
    .block-forms {
        padding: 0;
        width: 100%;
    }

    .adress,
    .phone,
    .mail {
        margin-left: 10px;
    }

    .socials {
        margin-bottom: 20px;
        .socials-list {
            justify-content: center;
        }
    }

    .block-forms {
        form {
            padding-left: 0;
            width: 95%;
            margin: 0 auto;
        }
    }

    .form-item-4 {
        display: flex;
        justify-content: center;
    }

    .wr-get-in-touch-1 {
        .block-forms {
            text-align: center;
            align-items: center;
        }

        form {
            display: flex;
            justify-content: center;
        }
    }
    
}  

@media all and (max-width: 430px) {
    // wr-intro
    .intro-slider {
        height: 250px;
        p {
            font-size: 22px;
        }

        .slide-title {
            font-size: 14px;
            margin-bottom: 20px;
        }  

        .btn {
            width: 100px;
            height: 28px;
            font-size: 10px;
        }
    }

    // wr-what-we-do
    .wr-what-we-do {
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .wr-what-we-do,
    .wr-our-best-work,
    .wr-clients-says,
    .wr-best-team,
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .section-title {
            font-size: 42px;
        }
    }

    .what-we-do-content {
        p {
            margin-bottom: 10px;
        }
        p:last-of-type {
            margin-bottom: 20px;
        }
    }

    .block-title {
        font-size: 28px;
        span {
            font-size: 34px;
        }
    }

    // wr-our-best-work
    .wr-our-best-work {
        .grid-container {
            grid-template-rows: 120px 1fr 120px;
        }
    }

    // wr-best-team

    .slide-container,
    .slide-container-center {
        .name {
            margin-top: 5px;
            margin-bottom: 4px;
            font-size: 16px;
        }

        .work {
            margin-bottom: 0;
            font-size: 12px;
        }

        .team-member {
            width: 90px;
            height: 90px;
            img {
                clip-path: circle(43px at 45px 45px);
            }
        }
    }

    .best-team-slider {
        padding-bottom: 25px;

        .swiper-button-prev::after, 
        .swiper-button-next::after {
            font-size: 30px;
        }

        .swiper-button-prev, 
        .swiper-button-next {
            top: 50%;
            transform: translate(-50%);
        }

        .swiper-button-prev {
            left: 36px;
        }

        .swiper-pagination-bullets {
            bottom: 20px;
        }
        
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
        }
    }

    // wr-clients-says
    .brand-job, 
    .brand-name {
        margin-right: 0;
    }

    .brand-name {
        font-size: 22px;
    }

    // wr-get-in-touch
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .submit {
            width: 100px;
            height: 28px;
            font-size: 10px;
        }
    }
}

@media all and (max-width: 380px) {
    // wr-intro
    .intro-slider {
        height: 220px;
        p {
            font-size: 20px;
        }

        .slide-title {
            font-size: 12px;
            margin-bottom: 20px;
        }  

        .btn {
            width: 80px;
            height: 24px;
            font-size: 9px;
        }
    }

    // wr-what-we-do, wr-our-best-work
    .wr-what-we-do,
    .wr-our-best-work {
        .btn {
            width: 100px;
            height: 28px;
            font-size: 10px;
        }
    }

    .wr-what-we-do,
    .wr-our-best-work,
    .wr-clients-says,
    .wr-best-team,
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .section-title {
            font-size: 40px;
        }
    }

    // wr-get-in-touch
    .block-forms {
        label {
            font-size: 14px;
        }
    }

    .adress,
    .phone,
    .mail {
        margin-bottom: 25px;
    }

    .wr-get-in-touch-1 {
        .icon-check {
            width: 30px;
            height: 20px;
        }
        
        .message {
            font-size: 18px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
    }
}