@media all and (max-width: 1150px) {
    .header {
        .logo {
            margin-left: 15px;
        }
    
        .nav {
            margin-right: 15px;
        }
    }

    .block-creative-kitchen {
        padding-left: 10px;
    }

    .block-contacts {
        padding-left: 10px;
    }
}

@media all and (max-width: 1000px) {
    // header
    .header {
        .wrapper {
            margin-left: 15px;
            margin-right: 15px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .wr-creative-kitchen {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    // .wr-achievement
    .wr-achievement {
        padding-top: 0;
        padding-bottom: 20px;
    }

    // wr-clients-says
    .wr-creative-kitchen,
    .wr-clients-says,
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .section-title {
            padding-bottom: 50px;
        }
    }

    .clients-text-block, 
    .clients-text-block-off {
        margin-bottom: 10px;
    }

    .brand-name {
        font-size: 36px;
    }

    .brand-name,
    .brand-job {
        margin-right: 50px;
    }

    .description {
        font-size: 16px;
        margin-top: 0;
    }

    // wr-get-in-touch
    .block-contacts {
        padding-left: 15px;
    }

    .wr-get-in-touch-1 {
        .icon-check {
            width: 55px;
            height: 45px;
        }

        .message {
            font-size: 26px;
            margin-bottom: 40px;
        }
    }
}

@media all and (max-width: 780px) {
    body.lock {
        overflow: hidden;
    }

    // header
    .header {
        &::before {
            z-index: 4;
        }

        .logo {
            z-index: 4;
            font-size: 26px;
        }
    }

    .burger-menu {
        @include burger-menu;
    }

    .nav {
        @include mobile-navigation;
        top: -1145px;
        padding-top: 100px;
    }

    .creative-kitchen-title {
        .title {
            font-size: 30px;
        }
    }

    .creative-kitchen-content {
        p {
            font-size: 16px;
        }
    }

    // WR-ACHIEVEMENT
    .achievement {
        .number {
            font-size: 30px;
        }
    }

    // wr-best-price
    .best-price-block {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .best-price-btn {
        .btn {
            width: 140px;
            height: 40px;
            font-size: 14px;
        }
    }

    .best-price {
        p {
            font-size: 26px;
        }

        .price {
            font-size: 36px;
        }
    }

    .wr-creative-kitchen,
    .wr-clients-says,
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .section-title {
            padding-bottom: 30px;
            font-size: 56px;
        }
    }

    // .wr-clients-says
    .wr-clients-says {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .brand {
        .brand-container {
            margin-bottom: 60px;
        }
    }

    .brand-name {
        font-size: 30px;
        &::after {   
            top: 45px;
        }
    }

    .brand-name,
    .brand-job {
        margin-right: 40px;
    }

      // wr-get-in-touch
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        padding-top: 20px;
        padding-bottom: 60px;
        .submit {
            width: 140px;
            height: 40px;
            font-size: 14px;
        }
    }
  
    .adress {
        p {
            font-size: 16px;
        }
    }
  
    .mail, 
    .phone {
        margin-bottom: 20px;
        a {
            font-size: 16px;
        }
    }

    .socials {
        li {
            width: 35px;
            height: 35px;
        }
    }
  
    .block-forms {
        .form-item-1 {
            margin-bottom: 20px;
        }

        .form-item-2 {
            margin-bottom: 50px;
        }

        .form-item-3 {
            margin-bottom: 30px;
        }
    }
  
    .wr-get-in-touch-1 {
        .icon-check {
            width: 40px;
            height: 30px;
        }

        .message {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }
}

@media all and (max-width: 650px) {
    .wr-creative-kitchen {
        padding-top: 10px;
    }

    .wr-creative-kitchen,
    .wr-clients-says,
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .section-title {
            font-size: 52px;
        }
    }

    .creative-kitchen-title {
        .title {
            font-size: 22px;
        }
    }

    .creative-kitchen-content {
        padding-top: 20px;
        p {
            font-size: 14px;
        }
    }

    .best-price-block {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .best-price,
    .best-price-btn {
        width: 100%;
    }

    .best-price {
        margin-bottom: 20px;
    }

    .best-price-btn {
        justify-content: center;
    }

    // wr-clients-says
    .wr-clients-says {
        padding-top: 30px;
        padding-bottom: 70px;
    } 

    .clients-says-slider {
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
        }
    }

    .brand-name {
        font-size: 26px;
    }

    .brand-name,
    .brand-job {
        margin-right: 10px;
    }

    .brand-job {
        font-size: 16px;
    }

    .description {
        font-size: 14px;
    }
    
    // wr-get-in-touch
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        padding-bottom: 40px;
    }

    .adress {
        p {
            font-size: 14px;
        }
    }

    .mail, 
    .phone {
        a {
            font-size: 14px;
        }
    }

    .socials {
        li {
            width: 30px;
            height: 30px;
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .block-forms {
        label {
            font-size: 16px;
        }
    }

    .wr-get-in-touch-1 {
        .icon-check {
            width: 30px;
            height: 20px;
        }

        .message {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
}

@media all and (max-width: 540px) {
    .wr-creative-kitchen,
    .wr-clients-says,
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .section-title {
            font-size: 46px;
        }
    }

    .wr-creative-kitchen {
        padding-bottom: 0;
    }

    .block-creative-kitchen {
        flex-direction: column;
        padding-left: 0;
    }

    .block-image,
    .creative-kitchen-content {
        width: 100%;
    }

    .block-image {
        padding: 0 10px;
        box-sizing: border-box;
    }

    .creative-kitchen-img {
        width: 100%;
        margin-bottom: 20px;
        &::before {
            content: none;
        }
    }

    .creative-kitchen-content {
        margin-left: 0;
        &::before {
            left: 50%;
            transform: translate(-50%);
        }

        p {
            margin-left: 15px;
            margin-right: 15px;
            text-align: justify;
        }
    }

    .creative-kitchen-title {
        .title {
            white-space: inherit;
            margin: 20px 15px;
            text-align: center;
        }
    }

    .achievement {
        p {
            font-size: 14px;
        }

        .number {
            font-size: 30px;
            &::before {
                width: 50px;
            }
        }
    }

    .best-price {
        p {
            font-size: 24px;
        }

        .price {
            font-size: 32px;
        }
    }

    // wr-clients-says
    .clients-text-block,
    .clients-text-block-off {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .clients-text {
        width: 100%;
    }

    .brand-description {
        align-items: center;
    }

    .brand-name {
        margin-right: 0;
        text-align: center;
        &::after {
            display: none;
        }
    }

    .description {
        margin-right: 13px;
        text-align: justify;
    }

    // wr-get-in-touch
    .contact-container {
        flex-direction: column;
    }

    .block-contacts,
    .block-forms {
        padding: 0;
        width: 100%;
    }

    .adress,
    .phone,
    .mail {
        margin-left: 10px;
    }

    .socials {
        margin-bottom: 20px;
        .socials-list {
            justify-content: center;
        }
        li {
            margin: 0 15px;
            width: 35px;
            height: 35px;
        }

        svg {
            width: 25px;
            height: 25px;
        }
    }

    .block-forms {
        form {
            padding: 0 10px;
            max-width: 100%;
        }
    }

    .form-item-4 {
        display: flex;
        justify-content: center;
    }

    .wr-get-in-touch-1 {
        .block-forms {
            text-align: center;
            align-items: center;
        }

        form {
            display: flex;
            justify-content: center;
        }
    } 

    .footer {
        padding-top: 0;
    }
}

@media all and (max-width: 430px) {
    .wr-creative-kitchen,
    .wr-clients-says,
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .section-title {
            font-size: 42px;
        }
    }

    // .wr-achievement
    .achievement {
        p {
            font-size: 12px;
        }

        .number {
            font-size: 20px;
            &::before {
                width: 30px;
            }
        }
    }

    // wr-best-price
    .best-price-block {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .best-price {
        p {
            font-size: 20px;
        }

        .price {
            font-size: 28px;
        }
    }

    .best-price-btn {
        .btn {
            width: 100px;
            height: 28px;
            font-size: 10px;
        }
    }

    // wr-clients-says
    .brand-job, 
    .brand-name {
        margin-right: 0;
    }

    .brand-name {
        font-size: 22px;
    }

    // wr-get-in-touch
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .submit {
            width: 100px;
            height: 28px;
            font-size: 10px;
        }
    }

    // footer
    .footer {
        .copyright {
            font-size: 14px;
        }

        .rights {
            font-size: 12px;
        }
    }
}

@media all and (max-width: 380px) {
    .wr-creative-kitchen,
    .wr-clients-says,
    .wr-get-in-touch,
    .wr-get-in-touch-1 {
        .section-title {
            font-size: 40px;
        }
    }

    .achievement {
        p {
            font-size: 10px;
        }

        .number {
            font-size: 16px;
        }
    }

    .best-price {
        p {
            font-size: 18px;
        }

        .price {
            font-size: 26px;
        }
    }

    // wr-get-in-touch
    .block-forms {
        label {
            font-size: 14px;
        }
    }

    .adress,
    .phone,
    .mail {
        margin-bottom: 25px;
    }

    .wr-get-in-touch-1 {
        .icon-check {
            width: 30px;
            height: 20px;
        }
        
        .message {
            font-size: 18px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
    }
}