@mixin btn{
    font-family: $font-light;
    font-size: 18px;
    text-transform: lowercase;
    width: 168px;
    height: 51px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}