@mixin btn-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 50px;
    box-sizing: border-box;
    font-family: $font-light;
    font-size: 18px;
    text-transform: lowercase;
    color: $color-light-gray;
    background-color: $color-black;
    border-radius: 36px;
}

@mixin btn-light {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 50px;
    box-sizing: border-box;
    font-family: $font-light;
    font-size: 18px;
    text-transform: lowercase;
    color: $color-black;
    border: 1px solid $color-light-gray;
    border-radius: 36px;
}

@mixin block-title {
    font-family: $font-hairline;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    text-transform: lowercase;
    margin-top: 0;
    margin-bottom: 76px;
}

@mixin burger-menu {
    position: relative;
    z-index: 4;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;

    &::before,
    &::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 100%;
    height: 2px;
    transition: .6s;
    background-color: $color-grey;
    }
    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    &.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    span {
        position: absolute;
        top: 9px;
        right: 20px;
        width: 100%;
        height: 2px;
        background-color: $color-grey;
        transition: .6s;
    }

    &.active span {
        transform: scale(0);
    }
}

@mixin mobile-navigation {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $color-pink;
    transition: .6s;
    &.active {
        top: 0;
    }

    ul {
        display: block;
    }

    li {
        margin-left: 10px;
        margin-bottom: 40px;
        font-size: 24px;
    }
}