@import 'variables';
@import 'mixins';

body {
    font-family: $font-light;
    font-size: 18px;
    color: $color-black;
    background-color: $color-white;
    overflow: scroll;
}

a {
    text-decoration: none;
}

.section-title {
    @include block-title;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: $color-white;
    box-sizing: border-box;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: $color-white;
    }

    .wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 52px;
        padding-bottom: 50px;
    }

    .logo {
        position: relative;
        font-size: 30px;
        font-family: $font-bold;
        letter-spacing: -.2px;
        text-transform: lowercase;
        color: $color-black;
        z-index: 3;

        &:hover {
            color: $color-grey;
        }
        &:focus {
            outline: none;
            text-decoration: underline;
        }
    }
}

.nav {
    position: relative;
    z-index: 3;
    padding-right: 5px;
    
    ul {
        display: flex;
    }

    li {
        margin-left: 36px;
        list-style-type: none;
    }

    a {
        text-transform: lowercase;
        color: $color-grey;

        &:hover {
            font-weight: 600;
            color: $color-black;
        }
        &:focus {
            outline: none;
            text-decoration: underline;
        }
      
    }
    .nav-link.active {
        font-weight: 600;
        color: $color-black;
    }
} 

.wrapper {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.wr-our-best-work {
    .btn {
        @include  btn-dark;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 50px;
    
        &:hover {
            background-color: $color-pink;
            color: $color-black;
            border: none;
        }
    
        &:focus {
            outline: none;
            text-decoration: underline;
            border: 2px solid $color-light-gray;
        }
    }
}

// WR-BEST-TEAM
.wr-best-team {
    background-color: $color-pink;

    .wrapper {
        padding-top: 73px;
        padding-bottom: 87px;
    }

    .section-title {
        margin-bottom: 46px;
    }
}

.best-team-slider {
    width: 100%;
    height: 100%;
}

.team-members {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-container,
.slide-container-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px 23px;
    max-width: 250px;

    .name {
        position: relative;
        margin-top: 15px;
        margin-bottom: 4px;
        font-size: 40px;
        font-family: $font-bold;
        text-transform: lowercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &::after {
            content: '';
            position: absolute;
            bottom: -11px;
            left: 50%;
            transform: translate(-50%);
            display: block;
            height: 2px;
            width: 55px;
            background: $color-black;
        }
    }
    
    .work {
        margin-bottom: 73px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.slide-container-center {
    .name {
        white-space: pre-wrap;
    }
}

.team-member {
    position:relative;
    width: 168px;
    height: 168px;
    box-sizing: border-box;

    img {
        clip-path: circle(84px at 85px 85px);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        border: 1px solid transparent;
    }    
}

.slide-container-center {
    .work {
        margin-bottom: 30px;
    }
}

// SLIDER BUTTONS 
.swiper-button-next, 
.swiper-button-prev {
    top: 128px;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.best-team-slider .swiper-button-prev::after,
.swiper-button-next::after {
    color: #fff;
    font-size: 53px;
}

.swiper-button-prev:hover::after, 
.swiper-button-next:hover::after {
    color: black;
}

.swiper-button-prev:focus,
.swiper-button-next:focus,
.swiper-button-prev:focus::after,
.swiper-button-next:focus::after {
    outline: none;
    color: $color-black;
}

.swiper-container-horizontal>.swiper-pagination-bullets 
.swiper-pagination-bullet {
    margin: 0px 8px;
}

.swiper-pagination-bullet:focus {
    outline: none;
    transform: scale(1.5);
}

.wr-get-in-touch,
.wr-get-in-touch-1 {
    height: 100%;
    padding-bottom: 105px;

    .section-title {
        margin-bottom: 74px;
    }
}

.wr-get-in-touch-1 {
    p {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .icon-check {
        width: 65px;
        height: 55px;
    }
}

.wr-get-in-touch-1 {
    display: none;
}

.contact-container {
    display: flex;
}

.block-forms,
.block-contacts {
    display: flex;
    flex-direction: column;
}

.contacts,
.socials {
    display: flex;
    flex-direction: column;
}

.block-contacts {
    padding-top: 9px;
}

.contacts,
.socials {
    width: 100%;
}

.adress,
.phone,
.mail {
    display: flex;
    margin-bottom: 40px;
    .icon-map,
    .icon-mail {
        width: 20px;
        height: 20px;
        margin-left: 2px;
    }

    p {
        margin: 0 80px 0 20px;
        line-height: 1.4;
        font-size: 18px;
    }
}

.phone {
    .icon-phone {
        width: 18px;
        height: 18px;
    }

    a {
        margin-left: 20px;
        color: $color-white;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.mail {
    .icon-mail {
        width: 13px;
    }

    a {
        margin-left: 20px;
        color: $color-white;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.socials {

    .socials-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 0;
        margin-top: 7px;
        list-style: none;
    }

    li {
        position: relative;
        width: 44px;
        height: 44px; 
        box-sizing: border-box;
        border: 2px solid $color-white;
        background-color: $color-white;
        border-radius: 50%;
        margin-right: 13px;
        margin-left: 2px;
        transition: .8s;
        &:hover {
            cursor: pointer;
            background-color: $color-dark-grey;
            border: $color-dark-grey;
        }

        &:hover svg {
            fill: $color-pink;
        }
    }

    svg {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 25px;
        height: 25px;
        fill: $color-black;
    }
}

.block-forms {
    // justify-content: flex-start;

    form {
        padding-left: 10px;
        max-width: 80%;
    }

    .form-item-1,
    .form-item-2,
    .form-item-3 {
        position: relative;
        margin-bottom: 37px;
    }
    
    .form-item-2 {
        margin-bottom: 60px;
    }

    .form-item-3 {
        margin-bottom: 43px;
    }

    input,
    textarea {
        padding: 5px 15px;
        width: 100%;
        height: 44px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $color-dark-grey;
        border-radius: 0;
        font-size: 14px;
        color: $color-white;
        box-sizing: border-box;

        &:focus {
            outline: none;
            border: 2px solid $color-light-gray !important;
        }
    }

    label {
        position: absolute;
        cursor: pointer;
        left: 15px;
        top: 0;
        color: $color-dark-grey;
        white-space: nowrap;
        overflow: hidden;
        line-height: 40px;
        transition: .3s;
    }

    input:focus~label,
    input:not(:focus):valid~label {
        top: -10px;
        font-size: 10px;
    }

    .textarea {
        margin-top: 20px;
        resize: none;
        height: 80px;
        border-top: 1px solid $color-dark-grey;
    }

    .textarea-label {
        top: -25px;
    }

    .submit {
        &:hover {
            cursor: pointer;
            border: 1px solid $color-black;
            background-color: $color-pink;
        }
        
        &:focus {
            outline: none;
            border: 1px solid $color-black;
        }
    }
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 23px;
}

.copyright {
    margin-bottom: 0;
    font-family: $font-bold;
}

.rights {
    margin-top: 7px;
    font-size: 14px;
}

