@import 'fonts';
@import 'normalize';
@import 'settings';
@import 'variables';
@import 'mixins';

// HEADER
.header {
    padding-top: 51px;
    padding-bottom: 56px;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    .logo {
        font-size: 30px;
        font-family: $font-bold;
        letter-spacing: -.2px;
        text-transform: lowercase;
        color: $color-black;

        &:hover {
            color: $color-grey;
        }
        &:focus {
            outline: none;
            text-decoration: underline;
        }
    }
}

.nav {
    ul {
        display: flex;
    }

    li {
        margin-left: 36px;
        list-style-type: none;
    }

    a {
        font-family: $font-light;
        text-transform: lowercase;
        color: $color-grey;

        &:hover {
            font-weight: 600;
            color: $color-black;
        }
        &:focus {
            outline: none;
            text-decoration: underline;
        }
    }
} 

// WR-HOME

.wr-home {
    margin-bottom: 74px;
}

// SLIDER
.swiper-container {
    width: 100%;
    height: 520px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 520px;

    p {
        position: relative;
        margin-top: 130px;
        margin-bottom: 26px;
        font-family: $font-bold;
        font-size: 48px;
        text-transform: lowercase;
        letter-spacing: .2px;
        color: $color-black;
       
        &:after {
            content: '';
            position: absolute;
            bottom: -21px;
            left: 50%;
            transform: translate(-50%);
            display: block;
            height: 2px;
            width: 55px;
            background: $color-black;
          }
    }

    h1 {
        margin-bottom: 71px;
        font-family: $font-light;
        font-size: 24px;
        white-space: pre-line;
        text-align: center;
        text-transform: lowercase;
        line-height: 1.3;
    }

    .btn {
        @include  btn-dark;
    
        &:hover {
            background-color: $color-pink;
            color: $color-black;
            border: none;
        }
    
        &:focus {
            outline: none;
            text-decoration: underline;
            border: 2px solid $color-light-gray;
        }
    }
}

.slide-1 {
    background-image: url('../media/main_page/header/background.jpg');
}

.slide-2 {
    background-image: url('../media/main_page/header/background-1.jpg');
}

.slide-3 {
    background-image: url('../media/main_page/header/background-2.jpg');
}

.slide-1,
.slide-2,
.slide-3 {
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center bottom;
    background-color: $color-pink;
}

.swiper-container-vertical>.swiper-pagination-bullets 
.swiper-pagination-bullet {
    margin: 18px 19px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 1px solid $color-black;
    background-color: transparent;
    opacity: inherit;
}

.swiper-pagination-bullet-active {
    background-color: $color-black;
}

// WHAT WE DO?
.wr-what-we-do {
    h2 {
        @include block-title;
    }
}

.block-creative-kitchen,
.block-art-installation,
.block-print-design {
    display: flex;
    margin-bottom: 88px;
}

.block-print-design {
    margin-bottom: 72px;
}

.creative-kitchen-img,
.art-installation-img,
.print-design-img {
    width: 49%;
    height: 560px;
    margin-top: 12px;
}

.creative-kitchen-img img,
.art-installation-img img,
.print-design-img img {
    width: 100%;
    height: 100%;
}

.creative-kitchen-content,
.art-installation-content,
.print-design-content {
    width: 43%;
    margin-left: 8%;

    .creative-kitchen-title,
    .art-installation-title,
    .print-design-title {
        margin-bottom: 42px;
    }

    .kitchen-title,
    .art-title,
    .design-title {
        position: relative;
        font-family: $font-light;
        font-size: 30px;
        white-space: pre-wrap;
        color: $color-black;
        
        &:after {
            content: '';
            position: absolute;
            bottom: -21px;
            left: 4px;
            display: inline-block;
            height: 2px;
            width: 55px;
            background: $color-black;
          }

        &:hover,
        &:hover ~ span {
            color: $color-pink;
        }

        &:focus,
        &:focus ~ span {
            outline: none;
            text-decoration: underline;
            color: $color-pink;
        }
    }

    span {
        font-family: $font-bold;
        font-size: 48px;
    }

    .creative-kitchen-paragraph-1,
    .art-installation-paragraph-1,
    .print-design-paragraph-1 {
        margin-bottom: 28px;
    }

    p {
        margin-left: 4px;
        font-family: $font-light;
        font-size: 18px;
        line-height: 1.5;
    }

    .creative-kitchen-paragraph-2,
    .art-installation-paragraph-2,
    .print-design-paragraph-2 {
        margin-bottom: 38px;
    }

    .btn {
        @include btn-light;
        margin-left: 5px;
        &:hover {
            border: 1px solid $color-black;
        }
        &:focus {
            outline: none;
            border: 1px solid $color-black;
        }
    }
}

.art-installation-content {
    margin-right: 8%;
    margin-left: 0;

    .art-title {
        &::after {
            bottom: -22px;
            left: 0;
        }
    }

    p {
        margin-left: 2px;
    }

    .art-installation-paragraph-2 {
        margin-bottom: 41px;
    }

    .btn {
        margin-left: 2px;
    }
}


// WR-OUR-BEST-WORK
.wr-our-best-work {
    h2 {
        @include block-title;
        margin-bottom: 88px;
    }
    .btn {
        @include  btn-dark;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 50px;
    
        &:hover {
            background-color: $color-pink;
            color: $color-black;
            border: none;
        }
    
        &:focus {
            outline: none;
            text-decoration: underline;
            border: 2px solid $color-light-gray;
        }
    }
}

.grid-container {
    display: grid;
    grid-template-rows: 364px 1fr 364px; 
     grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    grid-template-areas: 
    'block-1 block-2 block-3'
    'block-4 block-2 block-6'
    'block-4 block-5 block-6';
    margin-bottom: 51px;
    position: relative;

    .photo-block-1 {
        grid-area: block-1;
    }
    
    .photo-block-2 {
        grid-area: block-2;
    }
    
    .photo-block-3 {
        grid-area: block-3;
    }
    
    .photo-block-4 {
        grid-area: block-4;
    }
    
    .photo-block-5 {
        grid-area: block-5;
    }
    
    .photo-block-6 {
        grid-area: block-6;
    }
    
    .photo-block-1,
    .photo-block-3,
    .photo-block-5 {
        height: 364px;
    }
    
    .photo-block-2,
    .photo-block-4,
    .photo-block-6 {
        height: 590px;
    }
    
    .work-1,
    .work-2,
    .work-3,
    .work-4,
    .work-5,
    .work-6 {
        width: 100%;
        height: 100%;
        transition: 1s;
    }

    .work-1:hover,
    .work-2:hover,
    .work-3:hover,
    .work-4:hover,
    .work-5:hover,
    .work-6:hover {
        cursor: pointer;
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
        transform: translateY(-15px);
        filter: brightness(40%);
    }
}



