@import 'fonts';
@import 'normalize';
@import 'settings';
@import 'variables';
@import 'mixins';

// WR-INTRO
.wr-intro {
    width: 100%;
    padding-bottom: 72px;
}

// WR-HOME SLIDER

.intro-slider {
    width: 100%;
    height: 520px;
}

.slide-1,
.slide-2,
.slide-3 {
    width: 100%;
    height: 100%;
}

.slide-1-container,
.slide-2-container,
.slide-3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p {
        position: relative;
        margin-top: 130px;
        margin-bottom: 26px;
        font-family: $font-bold;
        font-size: 48px;
        text-transform: lowercase;
        letter-spacing: .2px;
        color: $color-black;
       
        &::after {
            content: '';
            position: absolute;
            bottom: -21px;
            left: 50%;
            transform: translate(-50%);
            display: block;
            height: 2px;
            width: 55px;
            background: $color-black;
        }
    }

    .slide-title {
        margin-bottom: 71px;
        font-size: 24px;
        white-space: pre-line;
        text-align: center;
        text-transform: lowercase;
        line-height: 1.3;
    }

    .btn {
        @include  btn-dark;
    
        &:hover {
            background-color: $color-pink;
            color: $color-black;
            border: none;
        }
    
        &:focus {
            outline: none;
            text-decoration: underline;
            border: 2px solid $color-light-gray;
        }
    }
}

.slide-1 {
    background-image: url('../media/main_page/header/background.jpg');
}

.slide-2 {
    background-image: url('../media/main_page/header/background-1.jpg');
}

.slide-3 {
    background-image: url('../media/main_page/header/background-2.jpg');
}

.slide-1,
.slide-2,
.slide-3 {
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center bottom;
    background-color: $color-pink;
}

.swiper-container-vertical>.swiper-pagination-bullets 
.swiper-pagination-bullet {
    margin: 18px 19px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 1px solid $color-black;
    background-color: transparent;
    opacity: inherit;
}

.swiper-pagination-bullet-active {
    background-color: $color-black;
}

// WHAT WE DO?
.wr-what-we-do {
    padding-bottom: 66px;
    .section-title {
        padding-bottom: 80px;
    }
}
.wr-what-we-do div:last-child {
    margin-bottom: 0;
}
.block-what-we-do:nth-child(even) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
}

.block-what-we-do:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 86px;
}

.what-we-do-img {
    position: relative;
    width: 49%;
    margin-top: 12px;
}

.what-we-do-img::after {
    content: "";
    display: block;
    padding-top: 100%;
}

.what-we-do-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.what-we-do-content {
    width: 43%;

    p {
        margin-bottom: 28px;
        margin-left: 5px;
        margin-right: 5px;
        line-height: 1.5;
    }

    .btn {
        @include btn-light;
        margin-left: 5px;

        &:hover {
            border: 1px solid $color-black;
        }

        &:focus {
            outline: none;
            border: 1px solid $color-black;
        }
    }
}

.what-we-do-content p:last-of-type {
    margin-bottom: 38px;
}

.block-title {
    position: relative;
    margin-bottom: 42px;

    &::after {
        content: '';
        position: absolute;
        bottom: -21px;
        left: 4px;
        display: inline-block;
        height: 2px;
        width: 55px;
        background: $color-black;
    }

    .title {
        font-size: 30px;
        white-space: pre-wrap;
        text-align: start;
        border: none;
        background-color: $color-white;
    
        &:hover,
        &:hover ~ span {
            color: $color-pink;
            cursor: pointer;
        }
    
        &:focus,
        &:focus ~ span {
            outline: none;
            text-decoration: underline;
            color: $color-pink;
        }
    
        span {
            font-family: $font-bold;
            font-size: 48px;
        }
    }
}


// WR-OUR-BEST-WORK
.wr-our-best-work {
    padding-bottom: 100px;

    .section-title {
        padding-bottom: 88px;
    }
}

.grid-container {
    display: grid;
    grid-template-rows: 364px 1fr 364px; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    grid-template-areas: 
    'block-1 block-2 block-3'
    'block-4 block-2 block-6'
    'block-4 block-5 block-6';
    margin-bottom: 44px;
    position: relative;

    .photo-block-1 {
        grid-area: block-1;
    }
    
    .photo-block-2 {
        grid-area: block-2;
    }
    
    .photo-block-3 {
        grid-area: block-3;
    }
    
    .photo-block-4 {
        grid-area: block-4;
    }
    
    .photo-block-5 {
        grid-area: block-5;
    }
    
    .photo-block-6 {
        grid-area: block-6;
    }
    
    .work-1,
    .work-2,
    .work-3,
    .work-4,
    .work-5,
    .work-6 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        transition: 1s;
    }

    .work-1:hover,
    .work-2:hover,
    .work-3:hover,
    .work-4:hover,
    .work-5:hover,
    .work-6:hover {
        cursor: pointer;
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
        transform: translateY(-15px);
        filter: brightness(40%);
    }
}

// WR-CLIENTS-SAY`S
.wr-clients-says {
    padding-top: 72px;
    padding-bottom: 96px;

    .section-title {
        padding-bottom: 72px;
    }
}

.brand-description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.brand-description,
.clients-text {
    width: 50%;
}

.clients-text-block,
.clients-text-block-off {
    display: flex;
    margin-bottom: 52px;
}

.clients-text-block-off {
    display: none;
}

.brand-name {
    position: relative;
    margin-top: 0;
    margin-right: 81px;
    margin-bottom: 23px;
    font-family: $font-bold;
    font-size: 40px;
    letter-spacing: -0.8px;
    color: $color-black;

    &::after {
        content: "";
        position: absolute;
        top: 55px;
        right: 3px;
        display: block;
        width: 55px;
        height: 2px;
        background: $color-black;
    }
}

.brand-job {
    margin-top: 0;
    margin-right: 81px;
}

.description {
    margin-top: 10px;
    margin-left: 13px;
    margin-right: 49px;
    line-height: 1.5;
    overflow: hidden;
    color: $color-dark-grey;
}

// slider3

.clients-says-slider {
    width: 100%;
    height: 100%;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;

    .brand-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 266px;
        height: 140px;
        margin-bottom: 100px;
        &:hover {
            cursor: pointer;
        }
        &.active {
            border: 3px solid $color-grey;
            box-sizing: border-box;
        }
    }
    
    .brand-container img {
        object-fit: cover;
        object-position: center top;
    }
}

.swiper-pagination-bullet:focus {
    transform: scale(1);
}

// WR-GET-IN-TOUCH
.wr-get-in-touch,
.wr-get-in-touch-1 {
    background-image: 
        linear-gradient(to top, rgba(0,0,0,.9), rgba(0,0,0,.9)),
        url("../media/main_page/footer/bg_decoracion_casas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    .section-title {
        color: $color-white;
    }
}

.wr-get-in-touch-1 {
    p {
        color: $color-white;
    }

    .icon-check {
        fill: $color-white;
    }
}

.adress,
.phone,
.mail {
    .icon-map,
    .icon-mail {
        fill: $color-white;
    }

    p {
        color: $color-white;
    }
}

.phone {
    .icon-phone {
        fill: $color-white;
    }
}

.block-forms,
.block-contacts {
    width: 50%;
}

.block-forms {
    justify-content: flex-start;
    
    input,
    textarea {
        color: $color-white;
    }

    .submit {
        @include btn-light;
        background-color: $color-white;
    }
}


@import './responsive/responsive.scss';