// colors
$color-black: #000;
$color-grey: #989898;
$color-light-gray: #bbb;
$color-dark-grey: #666666;
$color-pink: #ffe1bd;
$color-white: #fff;

// fonts
$font-light: "Montserrat-Light", sans-serif;
$font-hairline: "Montserrat-Hairline", sans-serif;
$font-bold: "Montserrat-Bold", sans-serif;

$spacer: 20px;