// colors
$color-black: #000;
$color-grey: #989898;
$color-light-gray: #bbb;
$color-pink: #ffe1bd;

// fonts
$font-light: "Montserrat-Light", sans-serif;
$font-hairline: "Montserrat-Hairline", sans-serif;
$font-bold: "Montserrat-Bold", sans-serif;